@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/static/Raleway-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('./fonts/static/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/static/Raleway-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('./fonts/static/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('./fonts/static/Raleway-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('./fonts/static/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

$powder-blue: #c8dfdc;
$bone: #dfdcce;
$beaver: #ad8c72;
$deep-space: #406261;
$dark-slate: #325046;
$black-choco: #211d16;

h1, h2, h3 {
    font-family: Raleway-Bold;
}

h4, h5, h6, p {
    font-family: Raleway-Medium;
}

button, .btn {
    font-family: Raleway-Medium;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px 50px;
}

a {
    text-decoration: none;
    font-family: Raleway-Medium;

    &:hover {
        text-decoration: none;
    }
}

body {
    margin: 0;
    background-color: white;
    position: static;

    .italic-heading {
        font-family: Raleway-Italic;
    }

    div:not(.carousel) {
        overflow: unset !important;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #e8e8e8;
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d4d4d4;
    }
}

.nav-bar {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    transition: background-color 0.5s ease;

    &.changing-nav {
        background-color: transparent;
    }

    &.solid-nav {
        background-color: #355554;
    }

    .right-nav {
        display: flex;
        align-items: center;

        .nav-link {
            padding: 0 50px;

            &:hover {
                color: #e3e3e3;
            }

            &.nav-btn {
                padding: 4px 30px;
                margin-right: 10px;
                border: thin solid white;
                border-radius: 25px;

                &:hover {
                    background-color: white;
                    color: $black-choco;
                }
            }

            &.inactive {
                color: #878787;
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .nav-link {
        color: white;
        font-size: 14px;
    }

    .nav-img {
        width: 55px;
        padding-right: 10px;
    }
}

.footer {
    background-color: $deep-space;
    border: thin solid $deep-space;
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;

    .footer-info {
        position: relative;
        width: 100%;
        z-index: 10;
        color: white;
        padding: 0 7%;

        .footer-info-left {
            .contact-us-info {
                width: 85%;
                font-size: 0.7rem;
            }

            .contact-form {
                display: flex;
                font-size: 0.8rem;

                .email-input {
                    background-color: transparent;
                    border: 2px solid $powder-blue;
                    border-radius: 5px;
                    color: white;
                    height: 35px;
                    width: 60%;
                    margin-right: 7px;
                    padding: 0 5px;
                }

                .btn-sub {
                    height: 35px;
                    background-color: $powder-blue;
                    border-color: $powder-blue;
                    font-weight: 600;
                    color: white;
                    font-size: 0.7rem;

                    &:hover {
                        background-color: #bad4d0;
                    }
                }
            }

            .copyright {
                display: flex;
                align-content: center;
                padding-top: 5%;

                .copyright-content {
                    padding-right: 5px;
                    margin-bottom: 0;

                    .linkedin-link {
                        color: $powder-blue;

                        &:hover {
                            color: #9bbdb7;
                        }
                    }
                }
            }
        }

        .footer-info-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .small-links {
                color: white;
                font-size: 0.9rem;

                &:hover {
                    color: $bone;
                }
            }
        }
    }
}